.address_container{
	max-width:640px;
	height:100%;
	margin:0;
	padding:0;
	.address_header{
		height:0.8rem;
		line-height:0.8rem;
		text-align:center;
		border-bottom:1px solid #bbb;
		p{
			margin:0;
			.icon-icon{
				font-size:0.28rem;
				position:relative;
				left:-2.2rem;
			}
			span{
				font-size:0.28rem;
				margin-left:-0.18rem;
			}
		}
	}
	.address_body{
		width:100%;
		height:100%;
		background-color:#f6f6f6;
		img{
			width:100%;
		}
	}
	.hasAddress_body{
		width:100%;
		min-height:10rem;
		overflow-y:scroll;
		background-color:#f6f6f6;
		padding:0 0.2rem;
		ul{
			li{
				margin-top:0.1rem;
				background-color:white;
				border:1px solid #eee;
				border-radius:0.1rem;
				p{
					margin:0;
				}
				.address_detail{
					padding:0.1rem;
					float:left;
					width:80%;
					border-right:1px dashed #ccc;
					p{
						line-height:0.40rem;
						span{
							margin-left:0.4rem;
						}
						strong{
							// text-align:right;
							float:right;
							margin-right:0.2rem;
							color:red;
						}
					}
				}
				.address_edit{
					float:right;
					width:20%;
					text-align:center;
					line-height:1.4rem;
					.icon-15{
						color:#ffde3b;
					}
				}
				&::after{
					display:block;
					clear:both;
					content:'';
					overflow:hidden;
					visibility:hidden;
					height:0;
				}
			}
		}
	}
	.address_add{
		position:fixed;
		bottom:0;
		width:100%;
		line-height:0.8rem;
		background-color:#ffde3b;
		text-align:center;
		p{
			margin:0;
			.icon-jia{
				color:#555;
				margin-right:0.2rem;
			}
			span{
				font-size:0.28rem;
			}
		}
	}
}
