@import '../../assets/font/iconfont.css';
@import '../index/swiper-3.4.2.min.css';
*{
	margin: 0 auto;
}
.food_container{
	width: 100%;height: 100%;
	overflow-x:hidden;
	overflow-y:auto;
	text-align: center;
	background:#efd19b;
	.food_top{
		width: 100%;
		height: 38px;
		position: fixed;
		top:0;
		line-height: 38px;
		background:#fff;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
		z-index:15;
		text-align: center;
		.goBack{
			float:left;
			font-size: 16px;
			position: absolute;
			left: 13px;
		}
		.food_song{
			font-size: 13px;
			.jian{
				font-size: 13px;
			}
		}
		.sear{
			font-size: 16px;
			margin-left: 69px;
			position: absolute;
			left: 218px;
			top: 0px;
		}
	}
	.food_main{
		width: 100%;
		background: rgb(248, 239, 222);
		margin-top: 38px;
		margin-bottom: 42px;
		.food_banner img{
			width: 100%;
		}
		ul{
			width: 100%;
			li{
				.food_imgs{
					width: 100%;
					display: block;
					border:none;
				}
			}
		}
		.food_goods{
			width: 100%;
			background: #efd19b;
			// overflow:hidden;
			min-height:100px;
			.food_nav{
				height: 40px;
				background-color: rgb(33, 168, 224);
			}
			.food_no-more{
				background: #efd19b;
				font-size: 13px;
				text-align: center;
				padding: 15px 0 15px 0;
			}
			img{
				width: 100%;
				margin-top: 16px;
				margin-bottom: 7px;
			}
			ul{
				display: inline-block;
				li{
					width: 45%;
					float:left;
					position: relative;
					background:#fff;
					border-radius:10px;
					height: 180px;
					text-align: center;
					margin-left: 10.5px;
					margin-top: 10px;
					overflow:hidden;
					.food_goodsimg{
						width: 102px;
						margin: 0 auto;
						margin-top: 10px;
					}
					.food_goodstitle{
						font-size: 12px;
						text-align: left;
						overflow:hidden; 
						text-overflow:ellipsis;
						display:-webkit-box; 
						-webkit-box-orient:vertical;
						-webkit-line-clamp:2; 
						margin-left: 7px;
						line-height: 18px;
					}
					.food_nowprice{
						font-size: 14px;
						position: absolute;
						left: 10px;
						top: 152px;
						color:red;
						&:before{
							content:'￥';
						}
						.idnex_oldprice{
							font-size: 12px;
							color:#ccc;
							text-decoration: line-through;
							&:before{
								content:'￥';
							}
						}
					}
					.food_car{
						color:red;
						font-size: 20px;
						position: absolute;
						left: 113px;top: 148px;
					}
				}


			}
		}
	}

}
.food_nav {
	width: 100%;
	overflow: hidden;
	font: 16px/32px hiragino sans gb, microsoft yahei, simsun;
}

.e{
	transition:all .3s ease;
	display:block;
	color:#fff;
	background:rgb(243, 130, 0);
}
.c1{
	background: #fff;
	font-size: 12px;
	width: 80px;
	color:rgb(243, 130, 0)!important;
}
#topNav .swiper-slide {
    width: 80px;
    font-size: 12px;
}
.goodscarshow{
		width: 160px;
		height: 40px;
		background:#262626;
		text-align: center;
		line-height: 40px;
		color:#fff;
		border-radius:5px;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -80px;
		font-size: 14px;
		z-index:1000;
		display: none;
	}