@import '../../assets/font/iconfont.css';
*{
	margin: 0 auto;
}
.hainan_container{
	width: 100%;
	height: 100%;
	overflow-x:hidden;
	overflow-y:auto;
	text-align: center;
	// background:#f0e46c;
	.hainan_top{
		width: 100%;
		height: 38px;
		position: fixed;
		top:0;
		line-height: 38px;
		background:#fff;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
		z-index:15;
		text-align: center;
		.goBack{
			float:left;
			font-size: 16px;
			position: absolute;
			left: 13px;
		}
		.hainan_song{
			font-size: 13px;
			.jian{
				font-size: 13px;
			}
		}
		.sear{
			font-size: 16px;
			margin-left: 69px;
			position: absolute;
			left: 218px;
			top: 0px;
		}
	}
	.hainan_main{
		width: 100%;
		margin-top: 38px;
		margin-bottom: 42px;
		ul{
			width: 100%;
			li{
				.hainan_imgs{
					width: 100%;
					display: block;
					border:none;
				}
			}
		}
	}

}